*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  overflow-y: hidden;
}

header{
  display: block;
  width: 100%;
  padding:20px 20px;
  position: fixed;
  z-index: 5;
  color:white;
  mix-blend-mode: difference;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 17px;
}
.box{
  float: left;
  width:25%;
}
.box.contact{
  text-align: right
}

/* .buttons{
  position: absolute;
  right: .5rem;
  top: 0px;
  z-index: 10;
  font-size: 0px;
} */
#previous{
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 10px;
}
#next{
  z-index: 10;
  position: absolute;
  top: 45%;
  right: 10px;
}
.controls{
  border: none;
  outline: none;
  font-size: 30px;
  cursor: pointer;
  color:white;
  background-color: transparent;
  width: 40px;
  height: 100%;
}



@media only screen and (max-width: 600px) {
  .box {
    width:100%;
  }
  .box.contact{
    text-align: left;
  }
  #previous{
    left: 5px;
  }

}
header a{
  text-align: left;
  color:white;
  mix-blend-mode: difference;
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 17px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


#all_slides{
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    /* -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; */
}

.active{
    opacity: 1;
    z-index: 2;
}




.controls{
    display: none;
}

.slide{
    box-sizing: border-box;
 background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
}

.slide:nth-of-type(1){background-image: url('../Images/1.png');}
.slide:nth-of-type(2){background-image: url('../Images/2.png');}
.slide:nth-of-type(3){background-image: url('../Images/3.png');}
.slide:nth-of-type(4){background-image: url('../Images/4.png');}
.slide:nth-of-type(5){background-image: url('../Images/5.png');}
.slide:nth-of-type(6){background-image: url('../Images/6.png');}
.slide:nth-of-type(7){background-image: url('../Images/7.png');}
.slide:nth-of-type(8){background-image: url('../Images/8.png');}
.slide:nth-of-type(9){background-image: url('../Images/9.png');}
.slide:nth-of-type(10){background-image: url('../Images/10.png');}
.slide:nth-of-type(11){background-image: url('../Images/11.png');}
.slide:nth-of-type(12){background-image: url('../Images/12.png');}
.slide:nth-of-type(13){background-image: url('../Images/13.png');}
.slide:nth-of-type(14){background-image: url('../Images/14.png');}
.slide:nth-of-type(15){background-image: url('../Images/15.png');}
.slide:nth-of-type(16){background-image: url('../Images/16.png');}
.slide:nth-of-type(17){background-image: url('../Images/17.png');}
.slide:nth-of-type(18){background-image: url('../Images/18.png');}
.slide:nth-of-type(19){background-image: url('../Images/19.png');}
.slide:nth-of-type(20){background-image: url('../Images/20.png');}
.slide:nth-of-type(21){background-image: url('../Images/21.png');}
.slide:nth-of-type(22){background-image: url('../Images/22.png');}
.slide:nth-of-type(23){background-image: url('../Images/23.png');}
.slide:nth-of-type(24){background-image: url('../Images/24.png');}
.slide:nth-of-type(25){background-image: url('../Images/25.png');}
.slide:nth-of-type(26){background-image: url('../Images/26.png');}
.slide:nth-of-type(27){background-image: url('../Images/27.png');}
.slide:nth-of-type(28){background-image: url('../Images/28.png');}
.slide:nth-of-type(29){background-image: url('../Images/29.png');}
.slide:nth-of-type(30){background-image: url('../Images/30.png');}
.slide:nth-of-type(31){background-image: url('../Images/31.png');}
.slide:nth-of-type(32){background-image: url('../Images/32.png');}
.slide:nth-of-type(33){background-image: url('../Images/33.png');}
.slide:nth-of-type(34){background-image: url('../Images/34.png');}
.slide:nth-of-type(35){background-image: url('../Images/35.png');}
.slide:nth-of-type(36){background-image: url('../Images/36.png');}
.slide:nth-of-type(37){background-image: url('../Images/37.png');}
.slide:nth-of-type(38){background-image: url('../Images/38.png');}
.slide:nth-of-type(39){background-image: url('../Images/39.png');}
.slide:nth-of-type(40){background-image: url('../Images/40.png');}
.slide:nth-of-type(41){background-image: url('../Images/41.png');}
.slide:nth-of-type(42){background-image: url('../Images/42.png');}
.slide:nth-of-type(43){background-image: url('../Images/43.png');}
.slide:nth-of-type(44){background-image: url('../Images/44.png');}
.slide:nth-of-type(45){background-image: url('../Images/45.png');}






.controls{
  display: inline-block;
  height: 30px;
}


.controls:hover{
  color: #333;
}
.controls:focus{
  color: white;
}

/* .container{
  position: relative;
} */

